@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    <div class="glyphicon glyphicon-road"></div> Vejnavn: Finlandsgade 22<br />
    <div class="glyphicon glyphicon-home"></div> By: 8200 Århus N<br />
    @*<abbr title="Phone" class="glyphicon glyphicon-phone-alt" > Tlf.:</abbr>*@
    <div class="glyphicon glyphicon-earphone" ></div> Tlf.: 99999999 <br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

All right reserved Strikkeklubben