<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
    var map;
    $(document).ready(function () {
        initialize();
        BindResizeEvent();
    });

    function BindResizeEvent() {
        $('a[href="#kort"]').on('shown.bs.tab',
            function() {
                google.maps.event.trigger(map, 'resize');
            });
    }

    function initialize() {
        google.maps.visualRefresh = true;
        var Aarhus = new google.maps.LatLng(56.158170, 10.198101);

        var mapOptions = {
            zoom: 13,
            center: Aarhus,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
    }

</script>



<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJU97le-qA2klWf9XxpEziqQNcNAFMCHU&callback=initMap">
</script>

@{
    ViewBag.Title = "Forside";
}

<div class="jumbotron">
    <h1>BarCrawler</h1>
    <p class="lead">Velkommen til BarCrawler! </p>
</div>

<ul id="ForsideTabs" class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#oversigt">Oversigt</a></li>
    <li><a data-toggle="tab" href="#event">Event</a></li>
    <li><a data-toggle="tab" href="#feed">Feed</a></li>
    <li><a data-toggle="tab" href="#kort">Kort</a></li>
</ul>


<div id="ForsideTabContext" class="tab-content">
    <div id="oversigt" class="tab-pane fade in active" role="tabpanel">
        <div>
            @* Placeholder for en barprofil *@
            <a class="list-group-item">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="@Url.Content("https://www.codemonkey.in/images/Code-Monkey.png")" alt="Generic placeholder image" style="width: 64px; height: 64px" />
                    </div>4
                    <div class="media-body">
                        <h4 class="media-heading">CodeMonkey</h4>

                    </div>
                </div>
            </a>

            @* Placeholder for en barprofil *@
            <a class="list-group-item">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="@Url.Content("http://humlelauget.dk/onewebmedia/Rumænsk%20øl.jpg")" alt="Generic placeholder image" style="width: 64px; height: 64px" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">BeerPenis</h4>
                        That's a penis
                    </div>
                </div>
            </a>

        </div>
    </div>
    <div id="event" class="tab-pane fade">
        
        <a class="list-group-item">
            <div class="container">
                <div class="col-lg-1">
                    <div class="row">
                        <p style="color: darkred">06-04-2017</p>
                    </div>
                    <div class="row">
                        <p style="color: darkred">17:00</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">   
                        <p><b>Eventtitel goes here hjerte</b></p>
                    </div>
                    <div class="row">
                        <p>Navnet på baren!</p>
                    </div>
                    <div class="row">
                        <p>Kort beskrivelse af event her highway to the dangerzone!</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    
    @*Lav feed tabel snart!*@
    <div id="feed" class="tab-pane fade">
        <p>
            feed
            feed
            feed
            feed
            feed
        </p>
    </div>

    @*Kort/map tab*@
    <div id="kort" class="tab-pane fade">
        <h3> Bar kort </h3>
        <div id="mapDiv"></div>
        <style>
            #mapDiv {
                width: auto;
                height: 450px;
            }
        </style>
    </div>
</div>

