@model IEnumerable<BarCrawler.Models.BarModel>

@{
    ViewBag.Title = "Forside";
}

<div class="jumbotron">
    <h1>BarCrawler</h1>
    <p class="lead">Velkommen til BarCrawler! </p>
</div>

<ul id="ForsideTabs" class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#oversigt">Oversigt</a></li>
    <li><a data-toggle="tab" href="#event">Event</a></li>
    <li><a data-toggle="tab" href="#feed">Feed</a></li>
    <li><a data-toggle="tab" href="#kort">Kort</a></li>
</ul>


<div id="ForsideTabContext" class="tab-content">
    <div id="oversigt" class="tab-pane fade in active" role="tabpanel">
        <div>
            @* Placeholder for en barprofil *@
            @foreach (var item in Model)
            {
                <a class="list-group-item">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object" src="@Url.Content(item.Pictures[0].Directory)" alt="Generic placeholder image" style="width: 64px; height: 64px" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@item.BarName</h4>
                            @item.Description
                        </div>
                    </div>
                </a>
            }

        </div>
    </div>
    <div id="event" class="tab-pane fade">
        <p>Events yo yo yo </p>
    </div>
    <div id="feed" class="tab-pane fade">
        <p>
            feed
            feed
            feed
            feed
            feed
        </p>
    </div>
    <div id="kort" class="tab-pane fade">
        <h3> Bar kort </h3>
        <div id="map" onclick="initMap()"></div>
        <style>
            #map {
                width: 100%;
                height: 400px;
            }
        </style>
        
    </div>
</div>
<script>
            var map;
            function initMap() {
                var aarhus = { lat: 56.158170, lng: 10.198101 };
                map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 13,
                    center: aarhus
                });
            }


            $("#kort").on('shown.bs.tab', function () {

                /* Trigger map resize event */
                google.maps.event.trigger(map, 'resize');
            });
</script>
<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJU97le-qA2klWf9XxpEziqQNcNAFMCHU&callback=initMap">
</script>

