@{
    ViewBag.Title = "Forside";
}

<div class="jumbotron">
    <h1>BarCrawler</h1>
    <p class="lead">Velkommen til BarCrawler! </p>
</div>

<ul id="ForsideTabs" class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#oversigt">Oversigt</a></li>
    <li><a data-toggle="tab" href="#event">Event</a></li>
    <li><a data-toggle="tab" href="#feed">Feed</a></li>
    <li><a data-toggle="tab" href="#kort">Kort</a></li>
</ul>


<div id="ForsideTabContext" class="tab-content">
    <div id="oversigt" class="tab-pane fade in active" role="tabpanel">
        <div>
            @* Placeholder for en barprofil *@
            <a class="list-group-item">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="@Url.Content("https://www.codemonkey.in/images/Code-Monkey.png")" alt="Generic placeholder image" style="width: 64px; height: 64px"/>
                    </div>4
                    <div class="media-body">
                        <h4 class="media-heading">CodeMonkey</h4>

                    </div>
                </div>
            </a>

            @* Placeholder for en barprofil *@
            <a class="list-group-item">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="@Url.Content("http://humlelauget.dk/onewebmedia/Rumænsk%20øl.jpg")" alt="Generic placeholder image" style="width: 64px; height: 64px"/>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">BeerPenis</h4>
                        That's a penis
                    </div>
                </div>
            </a>

        </div>
    </div>
    <div id="event" class="tab-pane fade">
        <p>Events yo yo yo </p>
    </div>
    <div id="feed" class="tab-pane fade">
        <p>
            feed
            feed
            feed
            feed
            feed
        </p>
    </div>
    <div id="kort" class="tab-pane fade">
        maps all over da place
    </div>
</div>



