@using System.Web.Http.Results

@{
    ViewBag.Title = "BadRequestView";
}
<head>
    <style>
        .warning {
            width: 713px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: #77000b;
            border-style: solid;
            border-width: 10px;
            border-color: #77000b;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
<br/>
<br/>
<div class="warning">
        <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t34.0-12/18741463_10207074715465764_1334384656_n.png?oh=7e4cc902af2c5445443bcb882384a363&oe=592A7836" alt="IMG"/>
    <h2>
        Bad Request!
    </h2>
    <p>
        Du har prøvet at tilgå en side, som du ikke har rettigheder til!
    </p>
    <a href="@Url.Action("Index", "Home")">
        <button class="btn btn-danger">
            Til forsiden!
        </button>
    </a>
</div>
</body>

