@using BarCrawler.Models;
@{
    ViewBag.Title = "BarProfil";
}


     @*Indsæt coverbillede her*@
<center>
    <img src="http://cdn-mf1.heartyhosting.com/sites/mensfitness.com/files/styles/wide_videos/public/main_penis_weed_banana_.jpg?itok=F4HMjAZp" alt="Img" height="200" />
</center>
    <h2>BarProfil</h2>
    <ul class="nav nav-tabs nav-justified" style="width:90%">
        <li role="presentation" class="active"><a href="#Feed" aria-controls="Feed" role="tab" data-toggle="tab">Feed</a></li>
        <li role="presentation"><a href="#Events" aria-controls="Events" role="tab" data-toggle="tab">Events</a></li>
        <li role="presentation"><a href="#Galleri" aria-controls="Galleri" role="tab" data-toggle="tab">Galleri</a></li>
        <li role="presentation"><a href="#Info" aria-controls="Info" role="tab" data-toggle="tab">Info</a></li>
    </ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Feed">

        <div style="width:70%;float:left;margin-top:5px">
            <div class="list" style="margin-right:15px">
                @*Tilføj foreach lige her*@
                <div class="panel panel-default">
                    <div class="panel-body">Description</div>
                </div>
            </div>
        </div>

        <div style="width:30%;float:left;margin-top:5px">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table>
                        <tr>
                            <td style="width:27px"><span class="glyphicon glyphicon-time"></span></td>
                            <td>Åbningstider</td>
                        </tr>
                        <tr>
                            <td style="width:27px"><span class="glyphicon glyphicon-book"></span></td>
                            <td>Fakultet</td>
                        </tr>
                        <tr>
                            <td style="width:27px"><span class="glyphicon glyphicon-home"></span></td>
                            <td>Adresse</td>
                        </tr>
                    </table>

                    <div id="map_canvas"></div>

                </div>
            </div>
        </div>
    </div>
</div>


